[[source]]
name = "aliyun"
url = "https://mirrors.aliyun.com/pypi/simple"
verify_ssl = true

[dev-packages]

[packages]
flask = "*"
flask-sqlalchemy = "*"
flask-wtf = "*"
flask-moment = "*"
bootstrap-flask = "*"
flask-login = "*"
flask-migrate = "*"
python-dotenv = "*"
faker = "*"
sendgrid = "*"
markdown = "*"
bleach = "*"
flask-caching = "*"
flask-cors = "*"
flask-whooshee = "*"
pymysql = "*"
mysql-python = "*"
gunicorn = "*"

[requires]
python_version = "3.7"
