<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="utf-8"/>
    <title>Simple example</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='../../static/editormd/css/editormd.css') }}"/>
</head>
<body>

<div id="test-editormd">
</div>
<script src="{{ url_for('static',filename='../../static/js/jquery-3.3.1.min.js') }}"></script>
<script src="{{ url_for('static',filename='../../static/editormd/editormd.js') }}"></script>
<script type="text/javascript">
    var testEditor;

    $(function () {
        testEditor = editormd("test-editormd", {
            width: "85%",
            height: 640,
            syncScrolling: "single",
            path: "{{ url_for('static',filename='editormd/lib/') }}"
        });
    });
</script>
</body>
</html>