{% if posts %}
    {% block style %}
        <style>
            div.article-abstract {
                background-color: #fff;
                margin-bottom: 30px;
                border-radius: 15px;
            }

            h5.blog-title {
                padding-left: 15px;
                padding-top: 25px;
            }

            small.blog-info {
                padding-left: 18px;
            }

            p.blog-content {
                padding-left: 15px;
                padding-right: 15px;
                text-align: justify;
            }

            a.into-article {
                margin-left: 40px;
                color: black;
            }

            div.render-page {
                margin-top: 20px;
                position: relative;
                left: 220px;
            }

            span.author {
                margin-left: 15px;
            }

            span.time {
                margin-left: 40px;
            }

            span.blog-info {
                display: inline-block;
            }

            i.icon-author {
                margin-bottom: -10px;
                display: inline-block;
                width: 26px;
                height: 26px;
                background-image: url("../../static/人.png");
                background-repeat: no-repeat;
            }

            i.icon-time {

            }

            i.read-article {

            }
        </style>
    {% endblock %}
    {% for post in posts %}
        <div class="article-abstract" >
            <h5 class="blog-title"><strong>{{ post.title }}</strong></h5>
            <p class="blog-content" >
                {{ post.content|striptags|truncate(length=120) }}
            </p>
            <span class="blog-info author">
                <i class="icon-author"></i>{{ post.user.username }}
            </span>
            <span class="blog-info time">
                <i class="icon-time"></i>{{ moment(post.timestamp).format('LL') }}
            </span>
            <span>
                <i class="read-article"></i><a class="blog-info into-article" href=# >阅读全文</a>
            </span>
            {% if not loop.last %}
                <hr>
            {% endif %}
        </div>
    {% endfor %}
    <div class="render-page >
        {{ render_pagination(pagination) }}
    </div>
{% endif %}