{% from 'macros.html' import render_page %}

{% if posts %}
    {% block style %}
        <style>
            div.article-abstract {
                background-color: #fff;
                margin-bottom: 30px;
                padding-bottom: 15px;
                border-radius: 15px;
            }

            h5.blog-title {
                padding-left: 15px;
                padding-top: 20px;
            }

            small.blog-info {
                padding-left: 18px;
            }

            p.blog-content {
                padding-left: 15px;
                padding-right: 15px;
                text-align: justify;
                margin-bottom: 10px;
            }

            a.into-article {
                color: black;
            }

            span.author {
                margin-left: 15px !important;
            }

            span.blog-info {
                margin-left: 90px;
                display: inline-block;
            }

            i.icon-author {
                margin-bottom: -3px;
                margin-right: 3px;
                display: inline-block;
                width: 24px;
                height: 24px;
                background-image: url("../../static/author.png");
                background-position: center center;
                background-repeat: no-repeat;
            }

            i.icon-time {
                margin-bottom: -5px;
                margin-right: 4px;
                display: inline-block;
                width: 24px;
                height: 24px;
                background-image: url("../../static/time.png");
                background-position: center center;
                background-repeat: no-repeat;
            }

            i.icon-cate {
                margin-bottom: -5px;
                margin-right: 4px;
                display: inline-block;
                width: 24px;
                height: 24px;
                background-image: url("../../static/category.png");
                background-position: center center;
                background-repeat: no-repeat;
            }

            i.icon-read {
                margin-bottom: -5px;
                margin-right: 4px;
                display: inline-block;
                width: 24px;
                height: 24px;
                background-image: url("../../static/read.png");
                background-position: center center;
                background-repeat: no-repeat;
            }
        </style>
    {% endblock %}
    {% for post in posts %}
        <div class="article-abstract" >
            <h5 class="blog-title"><strong>{{ post.title }}</strong></h5>
            <p class="blog-content" >
                {{ post.content|striptags|truncate(length=120) }}
            </p>
            <span class="blog-info author">
                <i class="icon-author"></i>{{ post.user.username }}
            </span>
            <span class="blog-info time">
                <i class="icon-time"></i>{{ moment(post.timestamp).format('L') }}
            </span>
            <span class="blog-info category">
                <i class="icon-cate"></i>{{ post.category.name }}
            </span>
            <span class="blog-info read-article">
                <a class="blog-info into-article" href=# ><i class="icon-read"></i>阅读全文</a>
            </span>
        </div>
    {% endfor %}
    <hr>
    {{ render_page(pagination, '.index') }}
{% endif %}