{% extends 'base.html' %}

{% block title %}添加新文章{% endblock %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static',filename='../../static/editormd/css/editormd.css') }}"/>
{% endblock %}

{% block style %}
    <style>
        div.writing-area {
            position: relative;
            bottom: 50%;
        }
    </style>
{% endblock %}

{% block content %}
<diV class="writing-area mt-5 mb-5">
    <form method="post">
        {{ form.csrf_token }}
        <div class="row">
            <div class="form-group col-md-6">
                {{ form.title(class="form-control", placeholder="请输入文章标题") }}
            </div>
            <div class="form-group col-md-6">
                {{ form.category(class="form-control") }}
            </div>
        </div>
         <div id="mkeditor" class="form-control">
             {{ form.content(style="display:none;") }}
         </div>
        {{ form.submit(class="btn btn-secondary mt-3 mb-5 float-right") }}
    </form>
</diV>
{% endblock %}

{% block scripts %}
{{ super() }}
<script src="{{ url_for('static', filename='editormd/editormd.js') }}"></script>
<script type="text/javascript">
    var editor;
    editor = editormd("mkeditor", {
        width: "100%",
        height: 640,
        syncScrolling: "single",
        path: "{{ url_for('static', filename='editormd/lib/') }}"
    });
</script>
{% endblock %}