{% extends 'base.html' %}
{% from 'macros.html' import render_page %}
{% from 'bootstrap/form.html' import render_form %}

{% block title %}{{ post.title }}{% endblock %}

{% block content %}
<div class="page-header mt-5 mb-3">
    <h2 class=>{{ post.title }}</h2>
    <div class="d-flex flex-column pl-1">
        <div class="category-badge">
            <span>分类:{{ post.category.name }}</span>
        </div>
        <div class="time-badge">
            <span>时间:{{ moment(post.timestamp).format('L') }}</span>
        </div>
    </div>
</div>
<div class="row mb-2 mb-5">
    <div class="col-md-9 text-justify">
        <p>
            {% if post.html_content %}
                {{ post.html_content|safe }}
            {% else %}
                {{ post.content|safe }}
            {% endif %}
        </p>
        <hr>
        {% if comments %}
            <div class="comments">
                <h3>共{{ pagination.total }}条评论</h3>
                <ul class="list-group">
                    {% for comment in comments %}
                        <li class="list-group-item list-group-item-action">
                            <div class="d-flex flex-column">
                                <div>
                                    <span class="delete-comment-form">
                                        {% if comment.from_admin %}
                                            <span class="badge badge-success">管理员</span>
                                        {% elif comment.parent_comment %}
                                            {{ comment.author }}<strong>回复</strong>{{ comment.parent_comment.author }}
                                        {% else %}
                                            {{ comment.author }}
                                        {% endif %}
                                        {% if current_user.is_authenticated %}
                                            <form method="post" style="display: inline"
                                                  action="{{ url_for('main.delete_comment', id=comment.id) }}">
                                                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                                                <input alt="delete-button" type="image" src="../../static/delete.png" />
                                            </form>
                                        {% endif %}
                                    </span>
                                    <span class="float-right">{{ moment(comment.timestamp).format('LL') }}</span>
                                </div>
                                <div class="mt-2 mb-2">
                                    {% if comment.parent_comment %}
                                        <p class="alert alert-dark reply-body">{{ comment.parent_comment.author }}:
                                            <br>{{ comment.parent_comment.content }}
                                        </p>
                                    {% endif %}
                                    {{ comment.content }}
                                    <span class="float-right">
                                        <a class="text-secondary"
                                           href="{{ url_for('main.reply_comment', comment_id=comment.id) }}">
                                            回复
                                        </a>
                                    </span>
                                </div>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
                <div class="comment-pagination mt-5">
                    {{ render_page(pagination, '.index') }}
                </div>
                {% if request.args.get('reply') %}
                    <div class="alert alert-dark">
                        回复<strong>{{ request.args.get('author') }}</strong>:
                        <a class="float-right text-dark" href="{{ url_for('main.show_post', post_id=post.id) }}">
                            取消
                        </a>
                    </div>
                {% endif %}
            </div>
        {% endif %}
        <div id="comment-form">
            {{ render_form(form) }}
        </div>
    </div>
    <div class="col-md-3">
        {% include 'main/sidebar.html' %}
    </div>
</div>
{% endblock %}