{% from 'macros.html' import render_page %}

{% if posts %}
    {% block style %}
        <style>
            div.article-zone {
                background-color: #fff;
                margin-bottom: 30px;
                padding-bottom: 15px;
            }

            i.author-icon {
                margin-bottom: -3px;
                display: inline-block;
                width: 24px;
                height: 24px;
                background-image: url("../../static/author.png");
                background-position: center center;
                background-repeat: no-repeat;
            }

            i.time-icon {
                margin-bottom: -5px;
                display: inline-block;
                width: 24px;
                height: 24px;
                background-image: url("../../static/time.png");
                background-position: center center;
                background-repeat: no-repeat;
            }

            i.category-icon {
                margin-bottom: -5px;
                display: inline-block;
                width: 24px;
                height: 24px;
                background-image: url("../../static/category.png");
                background-position: center center;
                background-repeat: no-repeat;
            }

            i.read-icon {
                margin-bottom: -5px;
                display: inline-block;
                width: 24px;
                height: 24px;
                background-image: url("../../static/read.png");
                background-position: center center;
                background-repeat: no-repeat;
            }

            i.correct-icon {
                margin-bottom: -5px;
                display: inline-block;
                width: 24px;
                height: 24px;
                background-image: url("../../static/correct.png");
                background-position: center center;
                background-repeat: no-repeat;
            }
        </style>
    {% endblock %}
    {% for post in posts %}
        <div class="article-zone">
            <h5 class="blog-title pl-3 pr-3 pt-3"><strong>{{ post.title }}</strong></h5>
            <p class="blog-content pl-3 pr-3 mt-1 text-justify" >
                {{ post.content|striptags|truncate(length=130) }}
            </p>
            <div class="d-flex justify-content-between">
                {% if not current_user.is_authenticated %}
                    <div class="author pl-3">
                        <i class="author-icon"></i>{{ post.user.username }}
                    </div>
                    <div class="time">
                        <i class="time-icon"></i>{{ moment(post.timestamp).format('L') }}
                    </div>
                    <div class="category">
                        <i class="category-icon"></i>{{ post.category.name }}
                    </div>
                    <div class="read pr-3">
                        <a href="{{ url_for('main.show_post', post_id=post.id) }}" class="read-article" style="color: black">
                            <i class="read-icon"></i>阅读全文
                        </a>
                    </div>
                {% else %}
                    <div class="time pl-3">
                        <i class="time-icon"></i>{{ moment(post.timestamp).format('L') }}
                        </div>
                    <div class="category">
                        <i class="category-icon"></i>{{ post.category.name }}
                    </div>
                    <div class="read">
                        <a href="{{ url_for('main.show_post', post_id=post.id) }}" class="read-article" style="color: black">
                            <i class="read-icon"></i>阅读全文
                        </a>
                    </div>
                    <div class="correct pr-3">
                        <a href="{{ url_for('admin.edit_post', post_id=post.id) }}" class="read-article" style="color: black">
                            <i class="correct-icon"></i>修改文章
                        </a>
                    </div>
                {% endif %}
            </div>
        </div>
        <hr>
    {% endfor %}
    {% if not filter %}
        {{ render_page(pagination, 'main.index') }}
    {% elif q %}
        {{ render_page(pagination, 'main.search', q=q, category=category) }}
    {% else %}
        {{ render_page(pagination, 'main.filter_post', cate=cate) }}
    {% endif %}
{% endif %}