{% if categories %}
    {% block head %}
        <link rel="stylesheet" href="{{ url_for('static', filename='css/mycss.css') }}">
    {% endblock %}
    <div class="card">
        <div class="card-header">{{ moment().format('YYYY-MM-DD HH:mm:ss') }}</div>
        <ul class="list-group list-group-flush">
            {% for category in categories %}
            <li class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                <a href="{{ url_for('main.filter_post', cate=category.name) }}" style="color: black">{{ category.name }}</a>
                <span class="badge badge-success badge-pill">{{ category.posts|length }}</span>
            </li>
            {% endfor %}
        </ul>
    </div>
{% endif %}