{% if categories %}
    {% block style %}
        <style>
            div.card {
                position: relative;
                left: 20px;
            }

            a.connection {
                color: black;
            }
        </style>
    {% endblock %}

    <div class="card">
        <div class="card-header">文章分类</div>
        <ul class="list-group list-group-flush">
            {% for catgory in categories %}
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <a href=# style="color: black">{{ catgory.name }}</a>
                <span class="badge badge-success badge-pill">{{ catgory.posts|length }}</span>
            </li>
            {% endfor %}
        </ul>
    </div>
{% endif %}
<div class="card">
        <div class="card-header">关于我</div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <a class="connection" href=#>GitHub</a>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <a class="connection" href=#>Google+</a>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <a class="connection" href=#>Twitter</a>
            </li>
        </ul>
</div>