{% if categories %}
    {% block style %}
        <style>
            div.card {
                position: relative;
                left: 20px;
            }

            a.connection {
                color: black;
            }
        </style>
    {% endblock %}

    <div class="card">
        <div class="card-header">文章分类</div>
        <ul class="list-group list-group-flush">
            {% for category in categories %}
            <li class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                <a href="{{ url_for('main.filter_post', cate=category.name) }}" style="color: black">{{ category.name }}</a>
                <span class="badge badge-success badge-pill">{{ category.posts|length }}</span>
            </li>
            {% endfor %}
        </ul>
    </div>
{% endif %}
<div class="card">
    <div class="card-header">关于我</div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item d-flex justify-content-between align-items-center">
            <a class="connection" href="https://github.com/gaogep">GitHub</a>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
            <a data-toggle="popover" data-placement="right" data-content="zpf1893@qq.com">QQmail</a>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
            <a data-toggle="popover" data-placement="right" data-content="plldhdb@gmail.com">Gmail</a>
        </li>
    </ul>
</div>